<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yanglong.cloud.config.server.mapper.ApplicationConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yanglong.cloud.config.server.model.ApplicationConfig">
        <id column="id" property="id" />
        <result column="appName" property="appName" />
        <result column="profileName" property="profileName" />
        <result column="label" property="label" />
        <result column="propKey" property="propKey" />
        <result column="propValue" property="propValue" />
        <result column="enabled" property="enabled" />
        <result column="operator" property="operator" />
        <result column="operateTime" property="operateTime" />
    </resultMap>

</mapper>
